<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	
    <link rel="stylesheet" type="text/css" href="/assets/styles/cadastro-user.css">
	
    <title>Cadastro Usuário</title>
</head>
<body>
    <div class="texto__logomarca">
		<h1 class="texto__papelaria">Papelaria</h1>
		<h1 class="texto__flamingo">Flamingo's</h1>
    </div>

    <img class="wave" src="/assets/img/wave.svg">
	<div class="container">
		<div class="img">
			<img src="/assets/img/flamingo-2.svg">
		</div>
		<div class="login-content">
			<form name="frmCadastro" method="post">
				<img src="/assets/img/logo.svg">
				<h2 class="title">Cadastro de Usuário</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Nome de Usuário</h5>
           		   		<input type="text" class="input" name="usernameCadastro" id="usernameCadastro">
           		   </div>
           		</div>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Nome</h5>
           		   		<input type="text" class="input" name="nomeCadastro" id="nomeCadastro">
           		   </div>
           		</div>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>E-mail</h5>
           		   		<input type="text" class="input" name="emailCadastro" id="emailCadastro">
           		   </div>
           		</div>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Data de Nascimento</h5>
           		   		<input type="text" class="input" name="birthdayCadastro" id="birthdayCadastro">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Senha</h5>
           		    	<input type="password" class="input" name="pswCadastro" id="pswCadastro">
            	   </div>
            	</div>
            	<a href="/">Voltar</a>
            	<input type="submit" class="btn" value="Cadastrar-se">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>