<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/assets/styles/home.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <title>Home</title>
</head>
<body>
    <div class="texto__logomarca">
		<h1 class="texto__papelaria">Papelaria</h1>
		<h1 class="texto__flamingo">Flamingo's</h1>
    </div>

    <img class="wave" src="/assets/img/wave.svg">
	<div class="container">
		<div class="img">
			<img src="/assets/img/flamingo-2.svg">
		</div>
		<div class="login-content">
			<form>
				<img src="/assets/img/logo.svg">
				<h2 class="title">Bem Vindo!</h2>
           		<a class="btn btn__home" href="/produtos">Consultar Produtos</a>
           		<a class="btn btn__home" href="/fornecedores">Consultar Fornecedor</a>
           		<a class="btn btn__home" href="/cadastrar-produto">Cadastrar Produtos</a>
           		<a class="btn btn__home" href="/cadastrar-fornecedor">Cadastrar Fornecedor</a>
           		<a class="btn btn__home" href="/">Sair</a>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>